/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

:root {
  --black: 9, 22, 22;
  --pink: 233, 183, 178;
  --gray: 159, 146, 159;
  --indigo: 30, 69, 94;
  --dark-blue: 28, 48, 63;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgba(var(--indigo));
}

body {
  margin: auto;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(var(--dark-blue));
  line-height: 1.3;
  max-width: 720px;
  border: 3px solid white;
}

#hero {
  height: 380px;
  background-image: url("images/prague.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

#hero-title {
  font-size: 4rem;
  color: lightgrey;
  background-color: rgba(var(--indigo), 0.8);
  margin: 0 180px 100px 180px;
  padding: 3px 12px 5px 12px;
}

#hero-subtitle {
  font-size: 1.4rem;
  background-color: rgba(var(--pink), 0.8);
  color: rgba(var(--dark-blue));
  text-shadow: 0 0 2px lightgrey;
  line-height: 1.7;
  margin: 0 100px;
  padding: 5px 15px;
}

#activities {
  background-color: rgba(var(--gray));
}

#activities-title {
  font-size: 2rem;
  padding: 20px 0 15px 0;
}

#top-activities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#guide {
  background-color: white;
  padding: 10px;
}

#guide-card {
  width: 400px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(var(--dark-blue));
  color: lightgrey;
  border-bottom: 5px solid rgba(var(--pink));
}

#guide-img {
  width: 180px;
  margin: 40px 10px;
}

#guide-information {
  padding-right: 10px;
}

#guide-title {
  font-size: 1.5rem;
  padding: 45px 0 15px 0;
}

#guide-name {
  padding: 18px;
}

.activity {
  margin: 20px 30px 30px 30px;
}

.activity-img {
  width: 100px;
}

.activity-title {
  margin: 10px 0;
}

/* UTILITY CLASSES */

.italic-text {
  font-style: italic;
}

.rounded-edges {
  border-radius: 10px;
}
